<!DOCTYPE html>
<html lang="zxx">
<title>unbiasMe | unbiasMe </title>
<head>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900%7cRoboto:400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
	<!-- Stylesheets -->
	<link rel="stylesheet" href="static/bootstrap.min.css"/>
	<link rel="stylesheet" href="static/font-awesome.min.css"/>
	<link rel="stylesheet" href="static/magnific-popup.css"/>
	<link rel="stylesheet" href="static/slicknav.min.css"/>
	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="static/style.css"/>
</head>
<body style="background-color:black;">
	<form action="/search" method = "get" id="search-form">
		<img src = "static/logo3.png">
		<div class="search-input si-v-2" >
	   <input type="text-align:center" name = "search" placeholder="query">
	   <button id="search-btn" class="site-btn" type="button">
	   	Search
	   </button>
	</form>
	<div id="spinner"></div>
</body>	
<script src='https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js'></script>
<script>
	var opts = {
		 lines: 13,
		 length: 28,
		 width: 14,
		 radius: 42,
		 scale: 1,
		 corners: 1,
		 color: '#ff000a',
		 opacity: 0.25,
		 rotate: 0,
		 direction: 1,
		 speed: 1,
		 trail: 60,
		 fps: 20,
		 zIndex: 2e9,
		 className: 'spinner',
		 top: '50%',
		 left: '50%',
		 shadow: false,
		 hwaccel: false,
		 position: 'absolute',
	}
  	$(document).ready(function(){
	    $('#search-btn').click(function(){
	       	target = document.getElementById('spinner');
		 	spinner = new Spinner(opts).spin(target);
	       	form = document.getElementById('search-form');
	       	form.submit()
	    });
  	});
</script>



