<!DOCTYPE html>
<html lang="zxx">


<row>
    <panel>
       <html>




<title>Find the Truth | Unbias Information</title>

<body style="background-color:black;">

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900%7cRoboto:400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/magnific-popup.css"/>
	<link rel="stylesheet" href="css/slicknav.min.css"/>
	<link rel="stylesheet" href="css/spin.css"/>
	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="css/style.css"/>



          <p style="text-align:left; font-size:300%; color: #000000">
             Let's Get Real  

	<form action="results.html">
	<div class="search-input si-v-2" >
	   <input type="text-align:center; vertical-align: 100px;" name = "query" placeholder="type here -- not google">
	   <button class="site-btn" type="submit vertical-align: 100px;">Find the Truth</button>
	</form>
 	<output name="query"></output>

<div id="spinner"></div>
	</div>





          </p>
       </html>
    </panel>
    <panel>
       <!-- more content goes here, if needed -->
    </panel>
    <panel>
       <!-- and even more content goes here, but only if needed -->
    </panel>
 </row>




